* {
    margin: 0px;
    padding: 0px;
}

.container {
    margin: 0px 200px;
}

.header {
    
}


.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.logo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: block;
}

.header__ul {
    display: flex;
    list-style-type: none;
    gap: 50px;
}

.link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}