* {
    font-family: "Afacad", sans-serif;
}

.bacground-element {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: -2;
    height: 630px;
}

.burito {
    position: absolute;
    right: 200px;
    bottom: 30px;
    z-index: -1;
    height: 650px;
}

.main__content {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.main__title {
    font-size: 7rem;
    word-wrap: break-word;
    color: rgb(255, 255, 255);
    font-family: "Agdasima", sans-serif;
}

.main__button {
    margin-top: 30px;
    padding: 10px 60px;
    font-size: 2rem;
    font-weight: 700;
    color: aliceblue;
    background-color: #FE6A14;
    border-radius: 20px;
    border: 3px solid black;
    box-shadow: -5px 5px 0px black;
    cursor: pointer;
    transition: all 0.2s ease;
}

.main__button:hover {
    background-color: #ff1e00;
}

@media(max-width: 1320px) {
    .main__content {
        margin-left: 10%;
    }

    .burito {
        right: 1%;
        bottom: 100px;
        height: 500px;
    }
}

@media(max-width: 1160px) {
    .main__content {
        margin-left: 10%;
    }

    .burito {
        display: none;
    }

    .bacground-element {
        height: 430px;
    }
}

@media(max-width: 768px) {
    .bacground-element {
        height: 380px;
    }
}

@media(max-width: 707px) {
    .main__content {
        margin: 20% 10% 0% 10%;
    }

    .main__title {
        font-size: 6rem;
    }

    .bacground-element {
        height: 330px;
    }
}