body {
    background-color: antiquewhite;
}

.main {
    margin-top: 100px;
    display: grid;
    gap: 8%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 100%;


}

.main__burger {
    height: 100%;
    width: 100%;
    display: block;
    transition: all 0.5s ease;
}

.main__burger:hover{
    transform: scale(1.1);
}

.main__container-burgers-bottom {
    grid-column: 1 / -1; 
    display: flex;
    justify-content: center;
}



.main__burgers-bottom {
    margin-bottom: 50px;
    padding: 10px 60px;
    font-size: 2rem;
    font-weight: 700;
    color: aliceblue;
    background-color: #FE6A14;
    border-radius: 20px;
    border: 3px solid black;
    box-shadow: -5px 5px 0px black;
    cursor: pointer;
    transition: all 0.2s ease;
}

.main__burgers-bottom:hover {
    background-color: #ff1e00;
}

.main__footer-element {
    margin-top: 150px;
    display: block;
    width: 100%;
}